<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="main full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
	<table class="wrapper"
		style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #f0f0f0;"
		cellpadding="0" cellspacing="0" role="presentation">
		<tbody>
			<tr>
				<td>
					<div role="banner">
						<div class="preheader"
							style="Margin: 0 auto;max-width: 560px;min-width: 280px; width: 280px;width: calc(28000% - 167440px);">
							<div style="border-collapse: collapse;display: table;width: 100%;">
								<div class="snippet"
									style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 140px; width: 140px;width: calc(14000% - 78120px);padding: 10px 0 5px 0;color: #787778;font-family: Ubuntu,sans-serif;">
								</div>
								<div class="webversion"
									style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 139px; width: 139px;width: calc(14100% - 78680px);padding: 10px 0 5px 0;text-align: right;color: #787778;font-family: Ubuntu,sans-serif;">
								</div>
							</div>
						</div>

					</div>
					<div>
						<div class="layout one-col fixed-width stack"
							style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
							<div class="layout__inner"
								style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
								<div class="column"
									style="text-align: left;color: #787778;font-size: 16px;line-height: 24px;font-family: Ubuntu,sans-serif;">

									<div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;"
										align="center">
										<img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top"
											style="border: 0;display: block;height: auto;width: 100%;max-width: 900px;"
											alt="" width="600" src="https://lh3.google.com/u/0/d/1AnwDzHChbDuLfqCgCJOE8tx6xOdyy61u=w1920-h969-iv1" />
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;">
										<h1
											style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #565656;font-size: 30px;line-height: 38px;text-align: center;">
											<strong>문의하신 내용</strong>
										</h1>
										<p style="Margin-top: 20px;Margin-bottom: 0;" th:text="${contact}"></p>
										<br/><br/><br/>
										<h1
											style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #565656;font-size: 30px;line-height: 38px;text-align: center;">
											<strong>문의하신 내용에 대한 답변입니다.</strong>
										</h1>
										<p style="Margin-top: 20px;Margin-bottom: 20px;" th:text="${answer}"></p>
										<br/><br/><br/>
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;">
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;">
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;">
									</div>

									<div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
										<div class="btn btn--flat btn--large" style="text-align:center;">
											<![if !mso]><a
												style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #ffffff !important;background-color: #80bf2e;font-family: Ubuntu, sans-serif;"
												href="http://example.com">Bulcup 바로가기</a>
											<![endif]>
										</div>

									</div>
								</div>
							</div>

						</div>
						<div role="contentinfo">
							<div style="line-height:4px;font-size:4px;" id="footer-top-spacing">&nbsp;</div>
							<div class="layout email-flexible-footer email-footer"
								style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;"
								dir="rtl" id="footer-content">
								<div class="layout__inner right-aligned-footer"
									style="border-collapse: collapse;display: table;width: 100%;">
									<div class="column"
										style="text-align: right;font-size: 12px;line-height: 19px;color: #787778;font-family: Ubuntu,sans-serif;display: none;"
										dir="ltr">
										<div class="footer-logo emb-logo-margin-box"
											style="font-size: 26px;line-height: 32px;Margin-top: 10px;Margin-bottom: 20px;color: #7b663d;font-family: Roboto,Tahoma,sans-serif;"
											align="center">
											<div emb-flexible-footer-logo align="center"></div>
										</div>
									</div>
									<div class="column"
										style="text-align: right;font-size: 12px;line-height: 19px;color: #787778;font-family: Ubuntu,sans-serif;display: none;"
										dir="ltr">
										<div
											style="margin-left: 0;margin-right: 0;Margin-top: 10px;Margin-bottom: 10px;">
											<div class="footer__share-button"></div>
										</div>
									</div>
								</div>
							</div>
							<div style="line-height:40px;font-size:40px;" id="footer-bottom-spacing">&nbsp;</div>
						</div>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>