<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="main full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;">
	<table class="wrapper"
		style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #f2f6f7;"
		cellpadding="0" cellspacing="0" role="presentation">
		<tbody>
			<tr>
				<td>
					<div role="banner">
						<div class="preheader"
							style="Margin: 0 auto;max-width: 560px;min-width: 280px; width: 280px;width: calc(28000% - 167440px);">
							<div style="border-collapse: collapse;display: table;width: 100%;">
								<div class="snippet"
									style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 140px; width: 140px;width: calc(14000% - 78120px);padding: 10px 0 5px 0;color: #808285;font-family: Open Sans,sans-serif;">
								</div>
								<div class="webversion"
									style="display: table-cell;Float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 139px; width: 139px;width: calc(14100% - 78680px);padding: 10px 0 5px 0;text-align: right;color: #808285;font-family: Open Sans,sans-serif;">
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="layout one-col fixed-width stack"
							style="Margin: 0 auto;max-width: 800px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
							<div class="layout__inner"
								style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
								<div class="column"
									style="text-align: left;color: #808285;font-size: 14px;line-height: 21px;font-family: Open Sans,sans-serif;">

									<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
										<div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;Margin-bottom: 20px;"
											align="center">
											<img style="border: 0;display: block;height: auto;width: 100%;max-width: 900px;"
												alt="" width="560" src="https://lh3.google.com/u/0/d/1AnwDzHChbDuLfqCgCJOE8tx6xOdyy61u=w1920-h969-iv1" />
										</div>
									</div>
									<div style="Margin-left: 20px;Margin-right: 20px;">
									</div>
									<div style="Margin-left: 20px;Margin-right: 20px;">
									</div>
									<div style="Margin-left: 20px;Margin-right: 20px;">
										<h3 class="size-24"
											style='Margin-top: 0;Margin-bottom: 12px;font-style: normal;font-weight: normal;color: #58595b;font-size: 20px;line-height: 28px;font-family: Futura,"Century Gothic",Corbel,sans-serif;'
											lang="x-size-24">
											<span class="font-futura" style="text-decoration: inherit;color: #e0673e;" th:text=${name}></span><span>님,</span><br />
												<span style="text-decoration: inherit;color: #e0673e;">자가진단 결과</span>입니다.
										</h3>
									</div>
									<div style="Margin-left: 20px;Margin-right: 20px;">
										<div class="divider"
											style="display: block;font-size: 2px;line-height: 2px;Margin-left: auto;Margin-right: auto;width: 40px;background-color: #b3cad0;Margin-bottom: 20px;">
											&nbsp;</div>
									</div>
									<div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
										<p class="size-16"
											style='Margin-top: 0;Margin-bottom: 0;font-family: Futura,"Century Gothic",Corbel,sans-serif;font-size: 16px;line-height: 24px;'
											lang="x-size-16"><span class="font-futura"
												style="text-decoration: inherit;">추천 <span
													style="text-decoration: inherit;color: #189e2e;">영양성분</span>
												입니다.</span></p>
									</div>
								</div>
							</div>
						</div>

						<div class="layout has-gutter stack"
							style="Margin: 0 auto;max-width: 800px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
							<div class="layout__inner" style="border-collapse: collapse;display: table;width: 100%;">
								<div class="column narrow"
									style="Float: left;max-width: 320px;min-width: 188px; width: 320px;width: calc(79388px - 13200%);">
									<table class="column__background"
										style="border-collapse: collapse;table-layout: fixed;background-color: #ffffff;"
										cellpadding="0" cellspacing="0" width="100%" role="presentation">
										<tbody>
											<tr>
												<td
													style="text-align: left;color: #808285;font-size: 14px;line-height: 21px;font-family: Open Sans,sans-serif;">

													<div
														style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;Margin-bottom: 24px;">
														<div style="font-size: 12px;font-style: normal;font-weight: normal;line-height: 19px;"
															align="center">
															<img style="border: 0;display: block;height: auto;width: 100%;max-width: 450px;"
																alt="" width="148" src="https://lh3.google.com/u/0/d/12Mz5h3lBqHr-e_bb2UXHtbVopE3LBIlB=w1920-h969-iv2" />
														</div>
													</div>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="gutter" style="Float: left;width: 18px;">&nbsp;</div>
								<div class="column wide"
									style="Float: left;max-width: 394px;min-width: 320px; width: 320px;width: calc(7400% - 44006px);">
									<table class="column__background"
										style="border-collapse: collapse;table-layout: fixed;background-color: #ffffff;"
										cellpadding="0" cellspacing="0" width="100%" role="presentation">
										<tbody>
											<tr>
												<td
													style="text-align: left;color: #808285;font-size: 14px;line-height: 21px;font-family: Open Sans,sans-serif;">
													<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
													</div>

													<div style="Margin-left: 20px;Margin-right: 20px;">
														<h2
															style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #58595b;font-size: 17px;line-height: 26px;font-family: Bitter,Georgia,serif;">
															루테인</h2>
														<blockquote
															style="Margin-top: 16px;Margin-bottom: 20px;Margin-left: 0;Margin-right: 0;padding-left: 14px;border-left: 4px solid #b3cad0;">
															<p style="Margin-top: 16px;Margin-bottom: 0;">
																기능성내용1</p>
															<p style="Margin-top: 20px;Margin-bottom: 0;">
																기능성내용2</p>
															<p style="Margin-top: 20px;Margin-bottom: 0;">
																기능성내용3</p>
															<p style="Margin-top: 20px;Margin-bottom: 20px;">
																기능성내용4</p>
														</blockquote>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>