<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org"><!-- Basic -->
<head th:replace="user/header.html :: head"></head>

<body>
	<header th:replace="user/header.html :: header"></header>
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		
		</div>
	</div>
	<!-- End header -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1>사이트에 오신 것을 <span>환영합니다!</span></h1>
						<h4>2022-12-27</h4>
						<br/>
						<p> 벌컵에 오신 것을  환영합니다. 벌컵은 최첨단 인공지능 최기태가 만든 프로그래밍을 통해서 만들어냈습니다. </p>
						<p> 심플 is best</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<img src="/user/images/newjeans.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	<!--Footer-->
    <footer class="footer-area bg-f" th:replace="user/footer.html :: footer"></footer>	
	
	<!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="user/footer.html :: javascript"></div>
    
</body>
</html>