<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>footer</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/user/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/user/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/user/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/user/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/user/css/custom.css">

    <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!--Footer-->
    <footer class="footer-area bg-f" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>벌컵에 대해서</h3>
					<p>저희는 한사람 한사람 세세히 정보를 수집하여 각각 맞는 영양제를 추천해 줍니다. 건강을 챙기고 싶으신 분들을 위한 사이트 입니다. 편히 이용하시길 바랍니다.</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>구독</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">구독하기</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>찾아오기</h3>
					<p>서울시 금천구 가산디지털2로 123 월드메르디앙2차 4층  413호</p>
					<p class="lead"><a href="#">+(02) 846-1233</a></p>
					<p><a href="#"> bulcup@admin.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>영업 시간</h3>
					<p><span class="text-color">월: </span>닫음</p>
					<p><span class="text-color">화-수 :</span> 9:AM - 10PM</p>
					<p><span class="text-color">목-금 :</span> 9:AM - 10PM</p>
					<p><span class="text-color">토-일 :</span> 5:PM - 10PM</p>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2024 <a href="/#">BULCUP</a> Design By : 
					<a href="https://html.design/">ALLBO7</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--End Footer-->

	<div th:fragment="javascript">
		<!-- ALL JS FILES -->
		<script src="/user/js/jquery-3.2.1.min.js"></script>
		<script src="/user/js/popper.min.js"></script>
		<script src="/user/js/bootstrap.min.js"></script>
	    <!-- ALL PLUGINS -->
		<script src="/user/js/jquery.superslides.min.js"></script>
		<script src="/user/js/images-loded.min.js"></script>
		<script src="/user/js/isotope.min.js"></script>
		<script src="/user/js/baguetteBox.min.js"></script>
		<script src="/user/js/form-validator.min.js"></script>
	    <script src="/user/js/contact-form-script.js"></script>
	    <script src="/user/js/custom.js"></script>    
	</div>
</body>
</html>