<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org">
<!-- Basic -->
<head th:fragment="head">
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>BULCUP</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
</head>

<body>
	<!-- Start header -->
	<header class="top-navbar" th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">

				<a class="navbar-brand" href="index.html"> <img
					src="images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
					aria-expanded="true" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown-a"
							data-toggle="dropdown">소개</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="index.html">홈페이지</a> <a
									class="dropdown-item" href="about.html">소개페이지</a> <a
									class="dropdown-item" href="memberIntro.html">직원소개</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link"
							href="selfDiagnosisStart.html">자가진단</a></li>
						<li class="nav-item"><a class="nav-link" href="search.html">검색하기</a></li>
						<li class="nav-item"><a class="nav-link" href="blog.html">영양상식</a></li>
						<li class="nav-item"><a class="nav-link" href="contact.html">
								문의하기</a></li>
						<!--onclick="window.open('contact.html','문의하기','resizable=no width=500 height=600 left=700 top=150')">문의하기</a></li>-->
					</ul>
				</div>

			</div>
		</nav>
	</header>
	<!-- End header -->
</body>
</html>