<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head th:replace="/user/header.html :: head"></head>

<body>
	<!-- Start header -->
	<header th:replace="/user/header.html :: header"></header>
	<!-- End header -->
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Stuff</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Stuff -->
	<div class="stuff-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>MEMBER 소개</h2>
						<div class="container row" style="float: none; margin: auto;">
                            <div class="col-md-6" style="float: none; margin:0 auto ;">
                            <div class="col-md-14" style="vertical-align:middle;">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="/user/images/pm.jpg">
                                        <ul class="social">
                                          
                                        </ul>
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">조장 이지효</h3>
                                        <span class="post">Project Manager</span>
                                    </div>
                                </div>
                            </div>                       
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/stuff-img-01.jpg">
                            <ul class="social">
                              
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">최기태</h3>
                            <span class="post">Programming Leader</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/stuff-img-02.jpg">
                            <ul class="social">
                                
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">강민수</h3>
                            <span class="post">UI Design, React</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/stuff-img-03.jpg">
                            <ul class="social">
                                
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">유지선</h3>
                            <span class="post">기술고문</span>
                        </div>
                    </div>
                </div>
				
				<div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/wdyhj.jpg">
                            <ul class="social">
                                
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">유현준</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/stuff-img-05.jpg">
                            <ul class="social">
                                
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">윤희선</h3>
                            <span class="post">UI Design, PPT Design</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="/user/images/stuff-img-06.jpg">
                            <ul class="social">
                               
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">최한철</h3>
                            <span class="post">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- End Stuff -->
	
	<!--Footer-->
    <footer class="footer-area bg-f" th:replace="/user/footer.html :: footer"></footer>
	
	<!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="/user/footer.html :: javascript"></div>
    
</body>
</html>