<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org"><!-- Basic -->

<head th:replace="/user/header.html :: head"></head>

<body>
	<!-- Start header -->
	<header th:replace="/user/header.html :: header"></header>
	<!-- Start blog -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<div>
							<img src="https://bakey-api.codeit.kr/files/629/images/sunglasses.jpg" width="300">
						</div>
					</br>	
						<h3>영양제 제조사</h3>	
						<h2>영양제 이름</h2>
						<h4>브랜드</h4>
						</div>	

					<div class="col-lg-6">
						<div class="heading-title text-center">
							<div class="bb">						
								<h2>기능성 내용</h2>	
							</br>	
								<p>장건강</p>
								<p>정상적인 면역에 필요</p>
							</br>
							</div>						
								<h2>기능성 원료</h2>	
							</br>	
								<p>비타민D<p>프로바이오틱스<p>아연</p>
							</br>
							</div>
						</div>
					</div>
		
					 <h2>제품섭취시 주의사항</h2>
					</br>
					<div>
					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>	

					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>	

					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>	

					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>	

					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>	
					<div class="product">
						<p><img src="/user/images/eye.png" width="50"></p>
						<p>알레르기 있는사람은 섭취 주의</p>
					</div>
					</div>	
				</br></br></br></br></br></br></br></br></br></br></br>
						<h2>주요기능</h2>
					</br>
						<p>[비타민D] 칼슘과 인이 흡수되고 이용되는데 필요</p>
						<P>뼈의 형성과 유지에 필요</P>
						<P>골다골증발생 위험 감소에 도움을 줌</P>
					</br>	

						<h2>추천 섭취 시간 및 복용법  (최소 섭취 기준)</h2>
					</br>
						<p> 하루에 1회, 1회당 2캡슐씩 섭취하세요</p>
						<p> ! 부작용이 느껴지면 섭취를 중단하세요</p>

					</div>	
				</div>
			</div>
		</div>
	</div>

	
	<!-- End blog -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>문의처</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>이메일</h4>
						<p class="lead">
							bulcup3121@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>장소</h4>
						<p class="lead">
							Kosmo Academy, Seoul, ROK
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	<!--Footer-->
    <footer class="footer-area bg-f" th:replace="/user/footer.html :: footer"></footer>
	
	<!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="/user/footer.html :: javascript"></div>
    
</body>
</html>