<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org"><!-- Basic -->
<head th:replace="/user/header.html :: head"></head>

<body>
	<!-- Start header -->
	<header th:replace="/user/header.html :: header"></header>
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>검색하기</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Contact -->
	
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form id="contactForm"> 
						<div class="blog-search-form">
							<input name="search" placeholder="제품명이나 성분으로 검색" type="text">
							<button class="search-btn">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</form>
				</div>

				<!-- Start Gallery -->
				<div class="gallery-box">
					<div class="container">
						<div class="row inner-menu-box">
							<div class="col-3">
								<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
									<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">전체</a>
									<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">눈 관련</a>
									<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">간 관련</</a>
									<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">장 관련</a>
									<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">다이어트 관련</a>
									<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">활력 관련</a>
									<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">뼈 관련</a>
								</div>
							</div>
							
							<div class="col-9">
								<div class="tab-content" id="v-pills-tabContent">
									<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
										<div class="row">
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-01.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $7.79</h5>
													</div>
													<div class= "see-text">
													<h5>네오바이오</h5>
													<h3>컨트롤러</h3>
													<h0>#눈</h0>
													<h0>#장</h0>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-02.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $9.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-03.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $10.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-04.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $15.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-05.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $18.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-06.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $20.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-07.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $25.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-08.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $22.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-09.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $24.79</h5>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
										<div class="row">
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-01.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $7.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-02.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $9.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid drinks">
												<div class="gallery-single fix">
													<img src="/user/images/img-03.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Drinks 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $10.79</h5>
													</div>
												</div>
											</div>
										</div>
										
									</div>
									<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
										<div class="row">
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-04.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $15.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-05.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $18.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid lunch">
												<div class="gallery-single fix">
													<img src="/user/images/img-06.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Lunch 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $20.79</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
										<div class="row">
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-07.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 1</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $25.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-08.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 2</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $22.79</h5>
													</div>
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 special-grid dinner">
												<div class="gallery-single fix">
													<img src="/user/images/img-09.jpg" class="img-fluid" alt="Image">
													<div class="why-text">
														<h4>Special Dinner 3</h4>
														<p>Sed id magna vitae eros sagittis euismod.</p>
														<h5> $24.79</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Gallery -->
			</div>
		</div>
	</div>
	<!-- End Contact -->
	<!--Footer-->
    <footer class="footer-area bg-f" th:replace="/user/footer.html :: footer"></footer>
	
	<!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
    <div th:replace="/user/footer.html :: javascript"></div>
    
</body>
</html>