<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="/user/header.html :: head"></head>


<body>
	<!-- Start header -->
	<header th:replace="/user/header.html :: header"></header>
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>검색하기</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<form th:action="@{search.html(condition=${condition},keyword=${keyword})}" style="width: 100%; display: inline;">
					<div class="row">
						<div class="col-lg-2">
							<select th:name="condition" style="margin-top:2px; margin-left: 5px; 
               padding: 15px 15px; width: 100%; border-radius: 20px; border:solid rgb(192, 192, 192) 2px;">
								<option value="functional_food_name" th:selected="${condition} == 'functional_food_name'">제품명</option>
								<option value="functionalities" th:selected="${condition} == 'functionalities'">기능성</option>
								<option value="raw_material" th:selected="${condition} == 'raw_material'">원재료명</option>
							</select>
						</div>
						<div class="col-lg-10">
							<div class="blog-search-form" style="width: 100%; margin: 2px 0 0 0;">
								<input th:name="keyword" type="text" th:value="${keyword}">
								<button class="search-btn" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
				</form>

				<!-- Start Gallery -->
				<div class="gallery-box col-lg-12">
					<div class="container">
						<div class="row inner-menu-box">
							<div class="col-3">
								<ul class="nav nav-pills flex-column">
									<a th:each="Clist: ${categoryList}">
										<li class="nav-item" th:unless="${Clist.id} == ${category_id}">
											<a th:href="@{search.html(category=${Clist.id})}" class="nav-link"
												th:text="${Clist.category}"></a>
										</li>
										<li class="nav-item" th:if="${Clist.id} == ${category_id}"><a
												th:href="@{search.html(category=${Clist.id})}" class="nav-link active"
												th:text="${Clist.category}"></a></li>
									</a>
								</ul>
							</div>

							<!-- 컨텐츠 시작 -->	
							<div class="col-9">
								<div class="row">
									<div class="col-lg-4 col-md-6 special-grid drinks" th:each="list : ${list}">
										<div class="gallery-single fix">
											<a th:href="@{Detail.html(id=${list.id})}"><img th:src="${list.image_path}" class="img-fluid" alt="Image"> <!-- 사진 --></a>
											<div class="see-text">
												<h5 th:text="${list.manufacturer}"></h5>
												<h3 th:text="${list.functional_food_name}"></h3> <!-- 제목 -->
												<h0>#</h0>
												<h0 th:text="${list.category}"></h0>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 컨텐츠 끝 -->
					</div>
				</div>
			</div>
			<!-- End Gallery -->
		</div>
         <nav aria-label="Page navigation" th:if="${category_id != null}">
            <ul class="pagination justify-content-center"
               th:with="start=${pageVO.firstPageNo}, last=(${pageVO.lastPageNo})">
               <li th:if="${pageVO.hasPrevPageNav==true}"><a class="page-link" th:href="@{search.html(category=${category_id}, pageNo=1)}"
                     aria-label="First"> <span aria-hidden="true">FIRST</span>
                  </a></li>
               <li th:if="${pageVO.hasPrevPageNav==true}"><a class="page-link"
                     th:href="@{search.html(category=${category_id}, pageNo=${pageVO.firstPageNo - pageVO.pageNavSize})}" aria-label="Previous">
                     <span aria-hidden="true"> 이전 </span></a></li>
      
               <a th:each="i: ${#numbers.sequence(start, last)}">
                  <li class="page-item" th:unless="${i} == ${pageVO.pageNo}">
                     <a th:href="@{search.html(category=${category_id}, pageNo=${i})}" class="page-link" th:text="${i}"></a>
                  </li>
                  <li class="page-item active" th:if="${i} == ${pageVO.pageNo}">
                     <a th:href="@{search.html(category=${category_id}, pageNo=${i})}" class="page-link" th:text="${i}"></a>
                  </li>
               </a>
      
               <li th:if="${pageVO.hasNextPageNav==true}"><a class="page-link"
                     th:href="@{search.html(category=${category_id}, pageNo=${pageVO.firstPageNo + pageVO.pageNavSize})}" aria-label="Previous">
                     <span aria-hidden="true"> 다음 </span></a></li>
               <li th:if="${pageVO.hasNextPageNav==true}"><a class="page-link"
                     th:href="@{search.html(category=${category_id}, pageNo=${pageVO.totalPage})}" aria-label="Last"> <span
                        aria-hidden="true">END</span>
                  </a></li>
            </ul>
         </nav>
         <nav aria-label="Page navigation" th:if="${condition != null}">
            <ul class="pagination justify-content-center"
               th:with="start=${pageVO.firstPageNo}, last=(${pageVO.lastPageNo})">
               <li th:if="${pageVO.hasPrevPageNav==true}"><a class="page-link" th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=1)}"
                     aria-label="First"> <span aria-hidden="true">FIRST</span>
                  </a></li>
               <li th:if="${pageVO.hasPrevPageNav==true}"><a class="page-link"
                     th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=${pageVO.firstPageNo - pageVO.pageNavSize})}" aria-label="Previous">
                     <span aria-hidden="true"> 이전 </span></a></li>
      
               <a th:each="i: ${#numbers.sequence(start, last)}">
                  <li class="page-item" th:unless="${i} == ${pageVO.pageNo}">
                     <a th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=${i})}" class="page-link" th:text="${i}"></a>
                  </li>
                  <li class="page-item active" th:if="${i} == ${pageVO.pageNo}">
                     <a th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=${i})}" class="page-link" th:text="${i}"></a>
                  </li>
               </a>
      
               <li th:if="${pageVO.hasNextPageNav==true}"><a class="page-link"
                     th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=${pageVO.firstPageNo + pageVO.pageNavSize})}" aria-label="Previous">
                     <span aria-hidden="true"> 다음 </span></a></li>
               <li th:if="${pageVO.hasNextPageNav==true}"><a class="page-link"
                     th:href="@{search.html(condition=${condition}, keyword=${keyword}, pageNo=${pageVO.totalPage})}" aria-label="Last"> <span
                        aria-hidden="true">END</span>
                  </a></li>
            </ul>
         </nav>
	</div>
	<!-- End Contact -->
	<!--Footer-->
	<footer class="footer-area bg-f" th:replace="/user/footer.html :: footer"></footer>

	<!-- ALL JS FILES -->
	<!-- ALL PLUGINS -->
	<div th:replace="/user/footer.html :: javascript"></div>

</body>

</html>