<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org"><!-- Basic -->
<head th:replace="/user/header.html :: head"></head>

<body>
	<header th:replace="/user/header.html :: header"></header>
	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
		<nav class="survey-test-header">
		<br></br>
		<ul class="heading-title text-center">
		
		<li data="기본정보" class="step-list"><h3>기본정보</h3>
		</li><li data="증상/불편" class="step-list"><h3>증상/불편</h3>
		</li><li data="생활 습관" class="step-list"><h3>생활 습관</h3></li>
		<li data="기타" class="step-list"><h3>기타</h3></li></ul></nav>
			
			<div class="survey-progress"><div id="survey-progress-rate" style="width: 18%;"></div></div>
			<div class="row">
				<div class="col-lg-12">			
						<br/><br/>
						<h5>질문 2</h5>
						
						<h2>아픔의 정도를 표시하여 주세요.</h2>
						<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					
								<div class="form-group">
									<div class="wrap-check">
									<input class= 'dis-checkbox' type="checkbox" name="nottired" value=1>1</br>
									<input class= 'dis-checkbox' type="checkbox" name="nomal" value=2>2</br>
									<input class= 'dis-checkbox' type="checkbox" name="tired" value=3>3</br>
									<input class= 'dis-checkbox' type="checkbox" name="manytired" value=4>4</br>
									<input class= 'dis-checkbox' type="checkbox" name="fuckhelpme" value=5>5</br>
									<div class="help-block with-errors"></div>
								</div>   
									</div>                              
								<div>
									<span class="submit-button text" style="float: left;">
										<a href="selfDiagnosisStart.html"><button class="btn btn-common" id="before" type="button">이전</button></a>
									</span>
									<span class="submit-button text" style="float: right;">
										<a href="selfDiagnosisEnd.html"><button class="btn btn-common" id="next" type="button">다음</button></a>
									</span>
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	<!--Footer-->
  
	
	<!-- ALL JS FILES -->
    <!-- ALL PLUGINS -->
   
    
</body>
</html>