<!DOCTYPE html>
<html lang="en" txmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="user/header.html :: head"></head>

<body>
	<header th:replace="user/header.html :: header"></header>
	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<nav class="survey-test-header">
				<br></br>
				<ul class="heading-title text-center">
					<li data="기본정보" class="step-list">
						<h3>기본정보</h3>
					</li>
					<li data="관심사항" class="step-list">
						<h3>관심사항</h3>
					</li>
					<li data="증상/불편" class="step-list">
						<h3>증상/불편</h3>
					</li>
					<li data="생활 습관" class="step-list">
						<h2 style="font-weight: bold;">생활 습관</h2>
					</li>
				</ul>
			</nav><br/>

			<div class="survey-progress">
				<div id="survey-progress-rate" style="width: 18%;"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<br /><br />
					<h2 th:text="${group}"></h2>
					<h5 th:text="${title}"></h5>
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form method="post">
					<div class="form-group">
						<div class="wrap-check" th:each="list : ${questionList}">
							<label><input class='dis-checkbox' type="radio" th:name="lifestyle"
							th:value="${list.id}" th:text="${list.lifestyle_question}"></label></br>
						</div>
					</div>
					<div style="width: 550px;">
						<span class="submit-button text" style="float: left;">
							<button class="btn btn-common" type="submit" th:formaction="@{selfDiagnosisLifestyle.html(page=prev)}">이전</button>
						</span>
						<span class="submit-button text" style="float: right;">
							<button class="btn btn-common" type="submit" th:formaction="@{selfDiagnosisLifestyle.html(page=next)}">다음</button>
						</span>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<!-- End Contact -->
	<!--Footer-->


	<!-- ALL JS FILES -->
	<!-- ALL PLUGINS -->


</body>

</html>