<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bulcup.dao.ManagerDao">
	<!-- INSERT -->
	<insert id="insertManager" parameterType="ManagerVO">
		INSERT INTO manager(id, password, tel, email, authority)
		 VALUES(#{id}, #{password}, #{tel}, #{email}, 'emp')
	</insert>
	<insert id="insertnotice" parameterType="noticeVO">
		INSERT INTO notice(id,title,reg_date,writer,content)
		VALUES(nextval(seq_notice_id),#{title},sysdate(),#{writer},#{content})
	</insert>
	<!-- SELECT -->
	<select id="selectManagerByIdAndPw" parameterType="ManagerVO" resultType="ManagerVO">
		SELECT * FROM manager 
		WHERE id = #{id}
	</select>
	<select id="getManagerList" resultType="ManagerVO">
		SELECT * FROM manager
	</select>
	<select id="getContactList" resultType="ContactVO">
		SELECT * FROM contact
		WHERE answer IS NULL
		limit
		#{pageSize}
		offset
		#{startRow}
	</select>
	<select id="getSubscribeList" resultType="SubscribeVO">
		SELECT * FROM subscribe
	</select>
	<select id="getFinishedContactList" resultType="ContactVO">
		SELECT * FROM contact
		WHERE answer IS NOT NULL
		limit
		#{pageSize}
		offset
		#{startRow};
	</select>
	<select id="getQuestionListPg" parameterType="PaginationVO"
		resultType="QuestionVO">
		SELECT * FROM sympthom_question
		ORDER BY id
		limit
		#{pageSize}
		offset
		#{startRow};
	</select>
	<select id="getManagerListPg" parameterType="PaginationVO" resultType="ManagerVO">
		SELECT * FROM manager 
		ORDER BY authority
		limit
		#{pageSize}
		offset
		#{startRow};
	</select>
	<select id="getFunctionalFoodListPg" parameterType="PaginationVO" resultType="FunctionalFoodVO">
		SELECT c.category, ff.id, ff.category_id, ff.functional_food_name,
		ff.functionalities, ff.raw_materials, ff.caution, ff.formulation,
		ff.intake_method, ff.image_path
		FROM functional_food ff inner join category c on ff.category_id = c.id
		ORDER BY ff.id asc
		limit
		#{pageSize}
		offset
		#{startRow};
	</select>
	<select id="questionCount" resultType="int">
		SELECT COUNT(*) FROM sympthom_question
	</select>
	<select id="managerCount" resultType="int">
		SELECT COUNT(*) FROM manager
	</select>
	<select id="foodCount" resultType="int">
		SELECT count(*) FROM functional_food
	</select>
	<select id="waitCount" resultType="int">
		SELECT count(*) FROM contact
	</select>
	<select id="completeCount" resultType="int">
		SELECT count(*) FROM contact
	</select>
	<select id="getListnotice" parameterType="PaginationVO" resultType="noticeVO">
		SELECT id,title,writer,reg_date FROM notice
		ORDER BY reg_date DESC
		limit
		#{pageSize}
		offset
		#{startRow}
	</select>
	<select id="countnotice" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	<!-- UPDATE -->
	<update id="updateManager" parameterType="ManagerVO">
		UPDATE manager 
		SET password=#{password}, tel=#{tel}, email=#{email}, authority=#{authority}
		WHERE id = #{id}
	</update>
	<update id="updateContact" parameterType="ContactVO">
		UPDATE contact
		SET answer = #{answer}, answer_date=sysdate(), manager_id=#{manager_id}
		WHERE id = #{id}
	</update>
	<update id="updateQuestion" parameterType="QuestionVO">
		UPDATE
		sympthom_question
		SET category_id=#{category_id},
		sympthom_question=#{sympthom_question}
		WHERE id = #{id}
	</update>
	<update id="updateFunctionalFood" parameterType="FunctionalFoodVO">
		UPDATE functional_food
		SET category_id=#{category_id},functional_food_name=#{functional_food_name},functionalities=#{functionalities},raw_materials=#{raw_materials},caution=#{caution},formulation=#{formulation},intake_method=#{intake_method},image_path=#{image_path}
		where id=#{id}   
	</update>
	<!--DELETE -->
	<delete id="deleteManagerById" parameterType="ManagerVO">
		DELETE FROM manager 
		WHERE id = #{id}
	</delete>
	<delete id="deleteContact" parameterType="ContactVO">
		DELETE FROM contact 
		WHERE id = #{id}
	</delete>
	<delete id="deleteQuestion" parameterType="QuestionVO">
		DELETE FROM sympthom_question
		WHERE id = #{id}
	</delete>
	<delete id="deleteFuctionalFood" parameterType="FunctionalFoodVO">
		delete from functional_food where id=#{id}
	</delete>
	<delete id="deletenotice" parameterType="noticeVO">
		delete from notice where id=#{id}
	</delete>
</mapper>
